---
import '../styles/index.scss'

import Layout from '../layouts/Layout.astro'
import { Text, Title } from '../components/Text'
import Anchor from '../components/Anchor'
import Picture from '../components/Picture'
import Image from '../components/Image'
import Footer from '../components/Footer'
import Header from '../components/Header'

import mobileEditorImage from '../images/illustration-editor-mobile.svg'
import desktopEditorImage from '../images/illustration-editor-desktop.svg'
import phonesImage from '../images/illustration-phones.svg'
import mobileLaptopImage from '../images/illustration-laptop-mobile.svg'
import desktopLaptopImage from '../images/illustration-laptop-desktop.svg'
---

<Layout title='Frontend Mentor Blogr Landing Page'>
	<Header client:only='react' />
	<main>
		<section class='hero'>
			<h1 class='heading--white'>A modern publishing platform</h1>
			<Text
				white={true}
				text='Grow your audience and build your online brand'
			/>
			<div>
				<Anchor
					type='btn--primary'
					text='Start for Free'
				/>
				<Anchor
					type='btn--secondary'
					text='Learn More'
				/>
			</div>
		</section>
		<section class='editor wrapper'>
			<h2 class='heading--blue padding'>Designed for the future</h2>
			<div class='editor__container'>
				<Picture
					mobile={mobileEditorImage}
					desktop={desktopEditorImage}
				/>
				<div class='padding'>
					<Title text='Introducing an extensible editor' />
					<Text
						white={false}
						text='Blogr features an exceedingly intuitive interface which lets you focus on one thing: creating content. The editor supports management of multiple blogs and allows easy manipulation of embeds such as images, videos and Markdown. Extensibility with plugins and themes provide easy ways to add functionality or change the looks of a blog.'
					/>
					<Title text='Robust content management' />
					<Text
						white={false}
						text={`Flexible content management enables users to easily move through posts. Increase the usability of your blog by adding customized categories, sections, format or flow. With this functionality, you're in full control.`}
					/>
				</div>
			</div>
		</section>
		<section class='phones'>
			<div class='phones__content wrapper'>
				<Image source={phonesImage} />
				<div class='phones__text-content'>
					<h2 class='heading--white'>State of the Art Infrastructure</h2>
					<Text
						white={true}
						text='With reliability and speed in mind, worldwide data-centers provide the backbone for ultra-fast connectivity. This ensures your site will load instantly, no matter where your readers are, keeping your site competitive.'
					/>
				</div>
			</div>
			<div class='phones__background'></div>
		</section>
		<section class='laptop wrapper'>
			<Picture
				mobile={mobileLaptopImage}
				desktop={desktopLaptopImage}
			/>
			<div class='laptop__container padding'>
				<Title text='Free, open, simple' />
				<Text
					white={false}
					text='Blogr is a free and open source application backed by a large community of helpful developers. It supports features such as code syntax highlighting. RSS feeds, social media integration, third-party commenting tools and works seamlessly with Google Analytics. The architecture is clean and is relatively easy to learn.'
				/>
				<Title text='Powerful tooling' />
				<Text
					white={false}
					text='Batteries included. We build a simple and straightforward CLI tool that makes customization and deployment a breeze, but capable of producing even the most complicated sites.'
				/>
			</div>
		</section>
	</main>
	<Footer client:load />
</Layout>
